In [115]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('dataset.csv')
df.head()

,Title,People_Review,Selling_Price,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate
0,World Times The Political World Map Edited by ...,100 Ratings,Rs. 300,Free,98%,97%,Not Found,Not Found,100%
1,thik grow and rich#rich dad poor dad,61 Ratings,Rs. 400,Free,82%,100%,-55%,Rs. 895,86%
2,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113 Ratings,Rs. 628,Rs. 99,80%,100%,-58%,"Rs. 1,500",97%
3,The Silent Patient Novel by Alex Michaelides,43 Ratings,Rs. 250,Free,81%,100%,-75%,Rs. 999,100%
4,"Rich Dad, Poor Dad / Atomic Habits /Think and ...",238 Ratings,Rs. 899,Free,87%,100%,-80%,"Rs. 4,499",100%

In [116]:
df = df[['Title', 'People_Review', 'Deliver_Charges', 'Seller_Rating', 'Shipping_Timing_Rating', 'Discount_Percentage', 'Original_Price', 'Chat_Responce_Rate', 'Selling_Price']]
df.head()

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate,Selling_Price
0,World Times The Political World Map Edited by ...,100 Ratings,Free,98%,97%,Not Found,Not Found,100%,Rs. 300
1,thik grow and rich#rich dad poor dad,61 Ratings,Free,82%,100%,-55%,Rs. 895,86%,Rs. 400
2,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113 Ratings,Rs. 99,80%,100%,-58%,"Rs. 1,500",97%,Rs. 628
3,The Silent Patient Novel by Alex Michaelides,43 Ratings,Free,81%,100%,-75%,Rs. 999,100%,Rs. 250
4,"Rich Dad, Poor Dad / Atomic Habits /Think and ...",238 Ratings,Free,87%,100%,-80%,"Rs. 4,499",100%,Rs. 899

In [117]:
df = df.replace({'Deliver_Charges': {'Free':np.NaN}})
df = df.replace({'Discount_Percentage': {'Not Found':np.NaN}})
df = df.replace({'Original_Price': {'Not Found':np.NaN}})
df.head()

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate,Selling_Price
0,World Times The Political World Map Edited by ...,100 Ratings,NaN,98%,97%,NaN,NaN,100%,Rs. 300
1,thik grow and rich#rich dad poor dad,61 Ratings,NaN,82%,100%,-55%,Rs. 895,86%,Rs. 400
2,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113 Ratings,Rs. 99,80%,100%,-58%,"Rs. 1,500",97%,Rs. 628
3,The Silent Patient Novel by Alex Michaelides,43 Ratings,NaN,81%,100%,-75%,Rs. 999,100%,Rs. 250
4,"Rich Dad, Poor Dad / Atomic Habits /Think and ...",238 Ratings,NaN,87%,100%,-80%,"Rs. 4,499",100%,Rs. 899

In [118]:
# Removing digits and special characters from the digits values
df['People_Review'] = df['People_Review'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df['Selling_Price'] = df['Selling_Price'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df['Seller_Rating'] = df['Seller_Rating'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df['Shipping_Timing_Rating'] = df['Shipping_Timing_Rating'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df['Chat_Responce_Rate'] = df['Chat_Responce_Rate'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df['Deliver_Charges'] = df['Deliver_Charges'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df['Discount_Percentage'] = df['Discount_Percentage'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\-\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df['Original_Price'] = df['Original_Price'].str.replace(r'[a-zA-Z!@#$%^&*()_+={}\[\]:;"\'<>,.?/\\|`~]', '', regex=True)
df.head(15)

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate,Selling_Price
0,World Times The Political World Map Edited by ...,100,NaN,98,97,NaN,NaN,100,300
1,thik grow and rich#rich dad poor dad,61,NaN,82,100,55,895,86,400
2,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113,99,80,100,58,1500,97,628
3,The Silent Patient Novel by Alex Michaelides,43,NaN,81,100,75,999,100,250
4,"Rich Dad, Poor Dad / Atomic Habits /Think and ...",238,NaN,87,100,80,4499,100,899
5,twisted #book1 love #2 game#3 hate#4lies combo...,12,NaN,88,100,NaN,NaN,88,1045
6,(Cat and Mouse Duet ) Haunting Adeline / _Hunt...,138,99,89,100,11,1099,98,979
7,The 48 Laws of Power by Robert Greene,93,99,91,100,17,599,91,499
8,Beyond the Story: 10-Year Record of BTS Book b...,65,99,89,100,35,899,98,587
9,The Psychology of Money by Morgan Housel,135,NaN,87,100,81,1699,100,329
10,verity by Colleen Hoover,108,NaN,88,100,12,225,88,199
11,the psychology of money,39,NaN,82,100,75,895,86,225
12,it startswith us #it ends withus by Colleen Ho...,13,NaN,82,100,67,1245,86,410
13,Yaaram Yaram Complete Novel by Sumaira Hameed ...,35,NaN,87,100,55,1799,100,809
14,it end with us by Collen hover,86,NaN,88,100,NaN,NaN,88,199

## Train Test Split

In [120]:
y = df['Selling_Price']
X = df.drop('Selling_Price', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=54)
len(X_train), len(y_train), len(X_test), len(y_test)

(3264, 3264, 817, 817)

## EDA

In [121]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3264 entries, 2173 to 3183
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   3263 non-null   object
 1   People_Review           3264 non-null   object
 2   Deliver_Charges         572 non-null    object
 3   Seller_Rating           3264 non-null   object
 4   Shipping_Timing_Rating  3264 non-null   object
 5   Discount_Percentage     3001 non-null   object
 6   Original_Price          3001 non-null   object
 7   Chat_Responce_Rate      3263 non-null   object
dtypes: object(8)
memory usage: 229.5+ KB

In [122]:
X_train.describe()

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate
count,3263,3264,572,3264,3264,3001,3001,3263
unique,1474,143,10,27,23,83,159,28
top,Not Found,,99,87,100,1,1999,100
freq,33,1365,367,661,2244,263,448,1711

In [123]:
X_train = X_train.replace({'Title': {'Not Found':np.NaN}})

In [124]:
X_train['Title'].isna().sum()

34

In [125]:
X_train.head(15)

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate
2173,The Seven Husbands of Evelyn Hugo Novel by Tay...,1,NaN,,91,56,899,100
2245,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113,99,80,100,58,1500,97
2367,Aab-E-Hayat urdu novel by Umera Ahmad Aab-E-Ha...,428,NaN,89,98,1,879,99
522,Reclaim Your Heart by Yasmin Mogahed,,NaN,87,100,81,1699,100
905,The Darkest Temptation,,NaN,86,100,70,999,92
2316,Master Your English – Direct Indirect Narratio...,3,NaN,94,100,2,440,100
1165,The 7 Habits Of Highly Effective People,1,NaN,91,78,50,599,95
1853,Hunting Adeline Novel by H. D. Carlton Best Se...,7,NaN,89,98,1,379,99
2606,Reclaim Your Heart by Yasmin Mogahed,,NaN,87,100,81,1699,100
1767,How to Stop Worrying and Start Living Book by ...,19,NaN,87,100,72,995,100
3664,Start-up Nation Book by Dan Senor and Saul Singer,1,NaN,81,100,78,1799,100
3116,Sinners Consumed: An Enemies to Lovers Mafia R...,,NaN,86,100,65,999,92
2435,Muslim Political Thought by Famous Books by Dr...,13,NaN,93,95,1,500,97
1771,Never Never by Colleen Hoover,3,NaN,82,100,65,1000,100
1944,The Extraordinary Cases of Sherlock Holmes (Sh...,11,NaN,87,100,79,1999,100

In [80]:
y.isna().sum()

0

In [81]:
X_train.head()

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate
2173,The Seven Husbands of Evelyn Hugo Novel by Tay...,1,,,91,56,899,100
2245,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113,99,80,100,58,1500,97
2367,Aab-E-Hayat urdu novel by Umera Ahmad Aab-E-Ha...,428,,89,98,1,879,99
522,Reclaim Your Heart by Yasmin Mogahed,,,87,100,81,1699,100
905,The Darkest Temptation,,,86,100,70,999,92

## Preprocessing

In [126]:
X_train

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate
2173,The Seven Husbands of Evelyn Hugo Novel by Tay...,1,NaN,,91,56,899,100
2245,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113,99,80,100,58,1500,97
2367,Aab-E-Hayat urdu novel by Umera Ahmad Aab-E-Ha...,428,NaN,89,98,1,879,99
522,Reclaim Your Heart by Yasmin Mogahed,,NaN,87,100,81,1699,100
905,The Darkest Temptation,,NaN,86,100,70,999,92
...,...,...,...,...,...,...,...,...
1047,Reminders of Him: A Novel by Colleen Hoover Go...,,NaN,80,100,66,999,83
3855,One Of Us Is Lying / One Of Us Is next/ONE OF ...,,NaN,90,90,67,2999,98
898,They Both Die at the End by Adam_Silvera,6,NaN,81,100,70,999,100
3397,Ego_is the Enemy The Fight to Master_Our Great...,2,NaN,89,100,72,899,81
3183,The Laws of Leadership a book by John Maxwell ...,28,NaN,98,98,21,995,100

In [127]:
X_train = X_train.dropna(axis = 0, subset=['Title'])
X_train

,Title,People_Review,Deliver_Charges,Seller_Rating,Shipping_Timing_Rating,Discount_Percentage,Original_Price,Chat_Responce_Rate
2173,The Seven Husbands of Evelyn Hugo Novel by Tay...,1,NaN,,91,56,899,100
2245,Peer e Kamil By umer Ahmed Best Selling Urdu Book,113,99,80,100,58,1500,97
2367,Aab-E-Hayat urdu novel by Umera Ahmad Aab-E-Ha...,428,NaN,89,98,1,879,99
522,Reclaim Your Heart by Yasmin Mogahed,,NaN,87,100,81,1699,100
905,The Darkest Temptation,,NaN,86,100,70,999,92
...,...,...,...,...,...,...,...,...
1047,Reminders of Him: A Novel by Colleen Hoover Go...,,NaN,80,100,66,999,83
3855,One Of Us Is Lying / One Of Us Is next/ONE OF ...,,NaN,90,90,67,2999,98
898,They Both Die at the End by Adam_Silvera,6,NaN,81,100,70,999,100
3397,Ego_is the Enemy The Fight to Master_Our Great...,2,NaN,89,100,72,899,81
3183,The Laws of Leadership a book by John Maxwell ...,28,NaN,98,98,21,995,100

In [128]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3230 entries, 2173 to 3183
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   3230 non-null   object
 1   People_Review           3230 non-null   object
 2   Deliver_Charges         541 non-null    object
 3   Seller_Rating           3230 non-null   object
 4   Shipping_Timing_Rating  3230 non-null   object
 5   Discount_Percentage     2997 non-null   object
 6   Original_Price          2997 non-null   object
 7   Chat_Responce_Rate      3230 non-null   object
dtypes: object(8)
memory usage: 227.1+ KB

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
encoding_trans = Pipeline(steps=
                             [
                                 ('encode', OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output = False, dtype = np.int32))
                             ])
inputingDeCh = Pipeline(steps=
                    [
                        ('simpleIm', SimpleImputer(missing_values = np.nan, strategy = 0))
                    ])
inputingDiPe = Pipeline(steps=
                    [
                        ('simpleIm', SimpleImputer(missing_values = np.nan, strategy = ))
                    ])